@import "../../../helpers/variables.scss";
@import "../../../helpers/mixins.scss";
@import "../../../helpers/placeholder.scss";

.highlighted-partners {
  background-color: $fColorDark;
  color: $white;
  padding-bottom: 2.5rem;
  @media (min-width: $breakpoint-lg) {
    padding-bottom: 5rem;
  }

  &--item {
    margin-bottom: 2.5rem;
    @media (min-width: $breakpoint-lg) {
      margin-bottom: 5rem;
    }

    .content-about--header {
      padding-top: 5rem;
    }

    .products-for-partner-items {
      display: grid;
      @include grid-cols-1;
      gap: 2.5rem;

      @media (min-width: $breakpoint-lg) {
        @include grid-cols-2;
      }

      @media (min-width: $breakpoint-xl) {
        @include grid-cols-4;
      }

      &--item {
        border-radius: 0 0 2.5rem 2.5rem;
        overflow: hidden;

        @media (min-width: $breakpoint-xl) {
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          text-align: center;
        }

        &--link {
          @media (min-width: $breakpoint-lg) {
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            align-items: stretch;
          }
        }

        &--thumb {
          width: 100%;
          aspect-ratio: 18 / 9;
          min-height: 15.625rem;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 4px solid $fColorUltraDark;
          border-radius: 2.5rem 2.5rem 0 0;
        }

        &--content {
          background-color: $white;
          color: $fColorUltraDark;
          display: flex;
          flex-direction: column;
          row-gap: 1rem;
          border-right: 4px solid $fColorUltraDark;
          border-left: 4px solid $fColorUltraDark;
          border-radius: 0 0 2.5rem 2.5rem;

          @media (min-width: $breakpoint-lg) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;
          }

          .title {
            text-transform: uppercase;
            font-weight: 900;
            font-family: $font-rubik;
            font-size: 1.125rem;
            line-height: 1.5rem;
            padding-top: 1.25rem;
          }
          .title,
          .desc {
            padding-left: 1rem;
            padding-right: 1rem;
          }

          .desc {
            line-height: 1.5rem;
          }

          .button {
            color: $white;
            width: 100%;
            background-color: $fColorUltraDark;
            border-radius: 0;
            border: none;
            height: 3.4375rem;

            &--empty {
              height: 2.1875rem;
            }
          }
        }

        &:hover {
          cursor: pointer;
          .products-for-partner-items--item--thumb {
            border-color: $fColor;

            .image {
              @extend %ease-in-out;
            }
          }
          .products-for-partner-items--item--content {
            border-color: $fColor;

            .title {
              color: $fColor;
              @include transition-colors;
            }
          }

          .button {
            background-color: $fColor;
            @include transition-colors;
          }
        }
      }
    }

    .load-more.button {
      margin-top: 5rem;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      padding: 1rem;
    }
  }

  &.not-highlighted-partners {
    background-color: $grayLight;
    color: $fColorDark;

    .highlighted-partners--item {
      .content-about--header {
        background-color: $grayLight;
        color: $fColorDark;
      }

      .products-for-partner-items {
        &--item {
          border-color: $fColorDark;

          &--thumb {
            border-color: $fColorDark;
          }

          &--content {
            color: $fColorDark;
            border-color: $fColorDark;

            .button {
              background-color: $fColorDark;
            }
          }

          &:hover {
            .products-for-partner-items--item--content {
              border-color: $fColorUltraDark;

              .title {
                color: $fColorUltraDark;
              }
            }

            .products-for-partner-items--item--thumb {
              border-color: $fColorUltraDark;
            }

            .button {
              background-color: $fColorUltraDark;
            }
          }
        }
      }
    }
  }
}

#product-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #330000e0;
  z-index: 1000;
  color: $fColorDark;

  .modal-content {
    position: relative;
    margin: 3.125rem auto;    
    background: #fff;
    width: 80%;
    max-width: 50rem;
    height: 500px;
    overflow-y: auto;

    .content{
      padding: 1.25rem;

      #modal-title {
        font-size: 18px;
        font-weight: 900;
        font-family: $font-rubik;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      #modal-description{
        line-height: 1.5rem;
      }

    }

    .link-button{
      text-transform: uppercase;
      background-color: $fColorDark;
      color: $white;
      width: 100%;
      display: block;
      padding: 0.625rem 0;
      font-family: $font-rubik;
      font-weight: 900;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      &:hover{
        background-color: $fColorUltraDark;
        @include transition-colors;
      }

      @extend %button-download;  
    }
  }

  #modal-close {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    background: none;
    border: none;
    font-size: 2.1875rem;
    cursor: pointer;
    border-radius: 25rem;
    width: 2.5rem;
    height: auto;
    background-color: $white;
    border-radius: 18.75rem;
    color: $fColorDark;
  }

}
