@import "../../../helpers/variables.scss";
@import "../../../helpers/mixins.scss";
@import "../../../helpers/placeholder.scss";

.content-home{
    background-color: $white;  

    @extend %content-padding-top-bottom;

    &--container{
        @media(min-width: $breakpoint-lg){
            display: grid;
            @include grid-cols-12;
        }
    }

    &--texts{
       
        @extend %heading-title-styles;
        color: $fColorDark;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        
        @media(min-width: $breakpoint-lg){
            @include col-span-8;
            @include col-start-3;
            justify-content: center;    
            align-items: center;
        }

    }
}