@import "../../../helpers/variables.scss";
@import "../../../helpers/mixins.scss";
@import "../../../helpers/placeholder.scss";

.partners-home {
  @extend %content-padding-top-bottom;
  overflow: hidden;

  &--header {
    @media (min-width: $breakpoint-lg) {
      display: grid;
      @include grid-cols-12;
    }

    &--texts {
      @extend %heading-title-styles;
      color: $fColorDark;

      text-align: center;
      margin-bottom: 2.5rem;

      p {
        font-size: 1.25rem;
      }

      @media (min-width: $breakpoint-lg) {
        margin-bottom: 5rem;
        @include col-span-10;
        @include col-start-2;
      }
    }
  }

  &--list {
    .feature-partner-home {
      border-radius: 1.25rem 1.25rem 0 0;
      display: flex;
      flex-direction: column;
      row-gap: 5rem;

      .contents {
        border-radius: 1.25rem;
        border: 0.25rem solid $fColorDark;
        overflow: hidden;

        &--link {
          display: flex;
          flex-direction: column;
          color: $white;

          @media (min-width: $breakpoint-xl) {
            display: grid;
            @include grid-cols-2;
            height: 28.125rem;
          }

          .thumbnail {
            height: 15.625rem;
            border-bottom: 0;
            overflow: hidden;

            @media (min-width: $breakpoint-xl) {
              height: 100%;
            }
          }

          .informations {
            .content {
              padding-top: 2.5rem;
              display: flex;
              flex-direction: column;
              row-gap: 1.25rem;
              background-color: $fColorDark;
              text-align: center;

              @media (min-width: $breakpoint-xl) {
                height: 100%;
                position: relative;
                padding-top: 0;
                justify-content: center;
              }

              .title {
                font-weight: 900;
                font-family: $font-rubik;
                font-size: 24px;
                line-height: 1.5rem;
                padding: 0 0.75rem;

                @media (min-width: $breakpoint-xl) {
                  padding: 0 1rem;
                }
              }
              .description {
                padding: 0 0.75rem;
                @media (min-width: $breakpoint-xl) {
                  padding: 0 1rem;
                }
              }

              .button-know-more {
                width: 100%;
                background-color: $fColorUltraDark;
                text-align: center;
                padding: 1.25rem 0;
                text-transform: uppercase;
                font-weight: 900;
                font-size: 1.25rem;
                border: none;
                color: $white;
                background-position: 75%;

                @media (min-width: $breakpoint-xl) {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  background-position: 70%;
                }
              }
            }
          }

          &:hover {
            @extend %contents--link-hover;
            .informations {
              .content {
                background-color: $fColorUltraDark;
                @include transition-colors;
              }
              
              .button-know-more {
                background-color: $fColorDark;
                @include transition-colors;
              }
            }
          }
        }
      }
    }
    
    .swiper-container{
      position: relative;
      
      .swiper-wrapper{
        
        .contents.not-highlighted {
          .contents--link {
            color: $fColorDark;
            @include grid-cols-1;
            height: 100%;;
    
            .thumbnail{
              height: 15.625rem;
            }
    
            .informations {
              .content {
                background-color: $white;
                padding-top: 2.5rem;
                justify-content: space-between;
    
                .button-know-more {
                  background-color: $fColorDark;
                  position: relative;
                }
              }
            }

            &:hover {
              @extend %contents--link-hover;

              .button-know-more {
                background-color: $fColorUltraDark!important;
                @include transition-colors;
              }

            }
          }
        }
      }

      .swiper-button-next, .swiper-button-prev{
        color: $fColorDark;
        background-color: #ffffffad;
      }
    }
  }
}
