@import './variables.scss';
@import './mixins.scss';

.button {
  @include transition-colors;
  width: fit-content;
  padding: 0.9375rem 2.5rem 0.9375rem 1.25rem;
  text-decoration: none;
  border-radius: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $font-rubik;
  position: relative;
  font-size: 1.125rem;
  cursor: pointer;
  border: none;

  &:hover{
    @include transition-colors;
  }
  
  &--primary{
    background-color: $fColor;
    color: $white;

    &:hover{
      background-color: $fColorUltraDark;
    }
  }

  &--secundary{
    background-color: $fColor;
    color: $fColorDark;
    border: 3px solid $fColorDark;

    &:hover{
      background-color: $fColorDark;
      color: $white;
      border: 3px solid $fColorUltraDark;
    }
  }

  &--terciary{
    background-color: $white;
    color: $fColorDark;

    &:hover{
      background-color: $fColorUltraDark;
      color: $white;
    }
  }

  &--quaternary{
    background-color: $fColorDark;
    color: $white;

    &:hover{
      background-color: $fColorUltraDark;
    }
  }

  &--empty{
    cursor: inherit;
  }
}

.button--arrow{
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: 1.25rem 1.25rem;

  &.button--arrow-up{
    background-image: url('../../dist/icons/arrow-up.svg');

    &:hover{
      background-image: url('../../dist/icons/arrow-up-white.svg');
    }

    &--white{
      background-image: url('../../dist/icons/arrow-up-white.svg');
    }
  }

  &.button--arrow-down{
    background-image: url('../../dist/icons/arrow-down.svg');

    &--red-dark{
      background-image: url('../../dist/icons/arrow-down-red-dark.svg');

      &:hover{
        background-image: url('../../dist/icons/arrow-down.svg');
      }
    }
  }
}