@import "./variables.scss";
@import "./mixins.scss";
@import "./placeholder.scss";

.button {
  @include transition-colors;
  @extend %button;

  &--primary {
    background-color: $fColor;
    color: $white;

    &:hover {
      background-color: $fColorUltraDark;
    }
  }

  &--secundary {
    background-color: $fColor;
    color: $fColorDark;
    border: 3px solid $fColorDark;

    &:hover {
      background-color: $fColorDark;
      color: $white;
      border: 3px solid $fColorUltraDark;
    }
  }

  &--terciary {
    background-color: $white;
    color: $fColorDark;

    &:hover {
      background-color: $fColorUltraDark;
      color: $white;
    }
  }

  &--quaternary {
    background-color: $fColorDark;
    color: $white;

    &:hover {
      background-color: $fColorUltraDark;
    }
  }

  &--empty {
    cursor: inherit;
  }

  &--arrow {
    
    &.button--arrow-up {
      @extend %button-icon;
      
      &::after {
        @extend %button-icon-position;
        width: 1rem;
        height: 1rem;
        background-image: url("../../dist/icons/arrow-up.svg");

      }
      &:hover {
        @extend %button-icon-position;
        &::after {
          background-image: url("../../dist/icons/arrow-up-white.svg");
        }
      }

      &--white {
        @extend %button-icon-position;
        &::after {
          width: 1rem;
          height: 1rem;
          background-image: url("../../dist/icons/arrow-up-white.svg");
        }
      }
    }

    &.button--arrow-down {
      @extend %button-icon;
  
      @extend %button-icon-position;
      &::after{
        background-image: url("../../dist/icons/arrow-down.svg");
        width: 1.25rem;
        height: 1.25rem;
      }

      &--red-dark {
        @extend %button-icon-position;
        &::after{
          background-image: url("../../dist/icons/arrow-down-red-dark.svg");
          width: 1.25rem;
          height: 1.25rem;

        }
        &:hover {
          &::after {
            background-image: url("../../dist/icons/arrow-down-white.svg");
          }
        }

      }
    }
  }

  &--download {
    @extend %button-icon;
    @extend %button-download;  
  }
}
