@import "./variables.scss";
@import "./mixins.scss";
@import "./clip-paths.scss";

%display-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

%link-hover {
  color: $fColor;
  &:hover {
    @include transition-colors;
    color: $fColorUltraDark;

    @media (min-width: $breakpoint-lg) {
      color: $fColorDark;
    }
  }
}

%max-width {
  @media (min-width: $breakpoint-xl) {
    max-width: 39.0625rem;
  }
}

%clip-path-desktop {
  @media (min-width: $breakpoint-lg) {
    clip-path: $clip-path-lg;
  }

  @media (min-width: $breakpoint-xl) {
    clip-path: $clip-path-xl;

    //box-shadow: inset 24px 24px 34px 0 rgba(0, 0, 0, 0.65);
    @include inner-shadow(rgba(0, 0, 0, 0.65), 24px, 24px, 34px, 1);
  }
}



%content-padding-top-bottom {
  padding: 2.5rem 0;

  @media (min-width: $breakpoint-lg) {
    padding: 5rem 0;
  }
}

%heading-title-styles {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
    font-weight: 900;
    font-family: $font-rubik;
    font-size: 20px;
    line-height: 1.5rem;

    @media (min-width: $breakpoint-lg) {
      font-size: 2.1875rem;
      line-height: 2.5rem;
    }
  }

  stronger {
    color: $fColorDark;
  }
}

%contents--link-hover {
  .thumbnail {
    .image {
      border-color: $fColorUltraDark;
      @include transition-colors;
      transition: all 0.5s ease-in-out;
      transform: scale(1.1);
    }
  }
}

%ease-in-out {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
}

%secundary-banner-height {
  @media (min-width: $breakpoint-lg) {
    height: 37.5rem;
  }
}

%content-about--list--container--items--texts-height {
  height: 2.8125rem;

  @media (min-width: $breakpoint-lg) {
    height: 3.75rem;
  }
}

%button{
  width: fit-content;
  text-decoration: none;
  border-radius: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $font-rubik;
  position: relative;
  font-size: 1.125rem;
  cursor: pointer;
  border: none;

  &:hover {
    @include transition-colors;
  }
}

%button-icon{
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
}

%button-icon-position {
  &::after{
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 0.5rem;
  }
}

%button-download{
  &::after {
    content: "";
    display: inline-block;
    width: 2.125rem;
    height: 2.125rem;
    background-image: url("../../dist/icons/download.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 0.5rem;
  }
}
