$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-1_5xl: 1440px;
$breakpoint-2xl: 1536px;

$white: #fff;
$black: #000;
$green: #61CE70;
$blue: #175c91;
$blue-medium: #003b68;
$blue-dark: #041420;
$gray: #9babab;

$font-rubik: "Rubik", sans-serif;

