@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";
@import "../helpers/placeholder.scss";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

button {
  outline: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

q {
  display: inline;
  font-style: italic;
}

q:before {
  content: '"';
  font-style: normal;
}

q:after {
  content: '"';
  font-style: normal;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="search"],
input[type="password"] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
input[type] {
  height: 3.4375rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
input[type] {
  font-family: $font-rubik;
  width: 100%;
  border: 1px solid $fColorDark;
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
  border-radius: 1.25rem;
}

input::placeholder,
textarea::placeholder {
  color: $fColorDark;
}

textarea {
  height: 9.375rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 2px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: $font-montserrat;
  font-size: 1rem;
  line-height: 1.875rem;
  overflow-x: hidden;
  color: $fColorUltraDark;
  background-color: $grayLight;
}

a {
  text-decoration: none;
  @include transition-colors;
}

a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: 700;
}

[aria-current]:not([aria-current="false"]) {
  color: $fColorUltraDark!important;

  @media (min-width: $breakpoint-lg){
    color: $fColorDark !important;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  width: 100%;


  @media screen and (min-width: $breakpoint-md) {
    max-width: $breakpoint-md;
  }
  @media screen and (min-width: $breakpoint-lg) {
    padding: 0 2.5rem;
    max-width: $breakpoint-lg;
  }
  @media screen and (min-width: $breakpoint-xl) {
    max-width: $breakpoint-xl;
  }
  @media screen and (min-width: $breakpoint-1_5xl) {
    max-width: $breakpoint-2xl;
  }
}

.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-cols-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scroll-effect {
  opacity: 0;
  transform: translateY(3.125rem);
  transition: opacity 0.5s ease, transform 0.5s ease;
  
  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.bg-red-dark{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: $fColorDark;
  z-index: -10;
}

.swiper-slide{
  .swiper-button-prev, .swiper-button-next  {
    display: none;
    @media(min-width: $breakpoint-lg){
      display: block;
    }
  }
}

.privacy-policy-page, .page-not-found .not-found{
  @extend %heading-title-styles;
  

  h1,
  h2,
  h3,
  h4,
  h5,
  h6, strong {
    color: $fColorDark;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p{
    margin-bottom: 1.25rem;

  }

}

.privacy-policy-page, .page-not-found{
  padding: 2.5rem 0;

  @media  (min-width: $breakpoint-lg) {
    padding: 5rem 0;
  }
}