@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";
@import "../helpers/placeholder.scss";

header {
  background-color: $white;
  padding: 1.25rem 0;
  position: relative;

  .content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .branding {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        width: 140px;
        height: auto;
        object-fit: cover;
        @include mx-auto;

        @media screen and (min-width: $breakpoint-lg) {
          width: 10rem;
        }
      }
    }

    .open-menu-mobile {
      @media (min-width: $breakpoint-lg) {
        display: none;
      }

      .bg-menu-mobile {
        background: url(../../dist/icons/menu-icon.svg);
        width: 2.0625rem;
        height: 1.3125rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        padding-left: 1.5rem;
        text-indent: -624.9375rem;
        border: none;
      }
    }

    .top {
      @media screen and (min-width: $breakpoint-lg) {
        display: flex;
        flex-direction: row-reverse;
        column-gap: 1.25rem;
      }
    }

    .icons {
      display: flex;
      column-gap: 3.75rem;
      flex-direction: row-reverse;

      @media screen and (min-width: $breakpoint-lg) {
        display: block;
      }
    }

    .menu-items {
      font-family: $font-rubik;
      text-transform: uppercase;
      color: $fColor;
      font-weight: 900;
      display: none;

      @media (min-width: $breakpoint-lg) {
        display: flex;
        align-items: center;
      }

      nav#menu .main-menu {
        display: none;

        @media (min-width: $breakpoint-lg) {
          display: flex;
          flex-direction: row;
          column-gap: 1.25rem;
        }

        .menu-item a {
          @extend %link-hover;
          font-size: 18px;

          @media (min-width: $breakpoint-1_5xl) {
            font-size: 1.25rem;
          }
        }
      }

      .bg-close-menu-mobile {
        @media (min-width: $breakpoint-lg) {
          display: none;
        }
      }

      &.openned {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding: 20px;
        background-color: $fColorDark;
        z-index: 50;

        nav#menu {
          margin-top: 3.75rem;

          .main-menu {
            display: flex;
            flex-direction: column;
            row-gap: 1.875rem;

            .menu-item {
              a {
                color: $white;
              }
            }
          }
        }

        .bg-close-menu-mobile {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          overflow: hidden;
          padding-left: 1.5rem;
          text-indent: -624.9375rem;
          border: none;
          position: absolute;
          top: 1.25rem;
          right: 1rem;
          width: 2.25rem;
          height: 2.25rem;
          background: url(../../dist/icons/close-menu-icon.svg);
          cursor: pointer;
        }
      }
    }

    .search-bar {
      width: 1.875rem;
      height: 1.875rem;

      &:hover{
        cursor: pointer;
      }
    }
  }
  .search-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    &.is-visible {
      display: flex;
    }
    .search-popup-content {
      background: $white;
      padding: 2rem;
      border-radius: 0.5rem;
      position: relative;
      width: 90%;
      max-width: 500px;
      text-align: center;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      input[type="text"] {
        width: 100%;
        padding: 0.75rem;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        font-size: 1rem;
      }

      &--button-submit {
        background-color: $fColorDark;
        color: $white;
        text-transform: uppercase;
        font-family: $font-rubik;
        font-weight: 900;
        border: none;
        padding: 0.75rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        cursor: pointer;

        &:hover {
          background-color: $fColorUltraDark;
        }
      }

      .search-popup-close {
        position: absolute;
        top: 0;
        right: 0.3125rem;
        background: transparent;
        border: none;
        font-size: 1.875rem;
        cursor: pointer;
        color: $fColorUltraDark;
      }
    }
  }
}
